.app-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background: url(/assets/stitched-leather.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    #header-main {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100px;
        margin: auto;
        overflow-y: hidden;
        overflow-x: hidden;
        max-width: 600px;
    }

    #body-main {
        position: absolute;
        top: 100px;
        padding-top: 14px;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        margin: auto;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: white;
        max-width: 600px;
    }
    
}